connected-components-3d==3.12.3
monai==1.2.0
nibabel==3.2.1
numpy==1.24.4
path==16.2.0
scikit-image==0.18.1
scipy==1.8.1
pytorch-lightning==2.0.5
tqdm==4.62.1
nibabel==3.2.1
path==16.2.0
opencv-python==4.6.0.66
pandas==1.4.3
tifffile==2022.4.8
openpyxl==3.0.10
