# pytorch + core
torch==1.9.1+cu111
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.10.1+cu111
# torchaudio==0.9.1 

# core
monai==0.7.0

# utils
tqdm==4.62.1
nibabel==3.2.1
numpy==1.21.2
path==16.2.0
